@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,600;0,700;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */
@layer {
  body {
    background-color: #f6f6f6;
    color: #2f3338;
    font-family: "Josefin Sans", sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }
  .card{
    transition: all;
    transition: 5s;
  }
  .card-hover {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 29, 0.5);
    z-index: 100;
    transition: all;
    transition: 5s;
  }
}
